.containerBanner {
  display: flex;
  justify-content: space-between;
  padding-top: 7.875rem;
  width: 100%;
}

#carroBanner {
  position: relative;
  width: 746px;
  height: 416px;
}
#tituloBanner {
  position: relative;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  margin-top: -20px;
  color: #ffffff;
}
#subtituloBanner {
  position: relative;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: var(--gray-700);
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .containerBanner {
    padding: 0% 2%;
  }
  #carroBanner {
    margin-top: 24vh;
    margin-right: 0px;
  }
}
@media screen and (max-width: 1366px) {
  #carroBanner {
    width: 100%;
    max-width: 60%;
  }
}
