.brandSection,
.brandList{
    display: flex;
    width: inherit;

}
.brandList{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px 0;
}
.brandItem{
    width: 86px;
    height: 48px;

}