/* loja */
.loja {
  background: rgba(255, 255, 255, 0.04);
  width: 1296px;
  border-radius: 10px;
  margin-top: 50px;
}

.conteudos-loja {
  display: flex;
}

.titulo-loja {
  padding: 40px;
  color: #fff;
}

.titulo-loja button {
  display: flex;
  padding: 10px;
  width: 118px;
  font-size: 14px;
  color: white;
  border: none;
  background: #fd5631;
  border-radius: 6px;
  margin-top: 50px;
}

.titulo-loja img {
  margin-left: 10px;
  margin-top: 3px;
}

.itens-loja img {
  margin: 35px;
}

.titulo-itens {
  display: flex;
  color: #fff;
}

.titulo-itens p {
  margin-right: 184px;
  margin-top: -25px;
}

.carrossel {
  margin-top: 15px;
}

.button-carrossel {
  display: inline-grid;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  cursor: pointer;
}

.button-carrossel img {
  margin-left: 10px;
  margin-top: 10px;
}

/* transição carrossel */

.itens-loja label {
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 10;
}

.itens-loja img {
  opacity: 0;
  visibility: hidden;
}

.itens-loja div {
  position: absolute;
  margin-left: 105px;
}

.itens-loja input {
  display: none;
}

.itens-loja div:nth-child(1) label {
  left: -276px;
  top: 280px;
}

.itens-loja div:nth-child(2) label {
  left: -327px;
  top: 277px;
}

.itens-loja div input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.itens-loja div:nth-child(2) label {
  left: -320px;
  top: 280px;
}

.itens-loja div input:checked ~ .titulo-itens {
  visibility: visible;
}

.titulo-itens {
  visibility: hidden;
}

.itens-loja div input:checked ~ .titulo-itens2 {
  visibility: visible;
}

.titulo-itens2 {
  visibility: hidden;
  display: flex;
  color: #fff;
}

.titulo-itens2 p {
  margin-right: 177px;
  margin-top: -25px;
}
