#download-app{
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 50px 0;
}

#download-app > div
{
  display: flex;
  max-width: 1296px;
  width: 100%;
  justify-content: space-between;
  margin: 10px;
}

.download-app
{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.download-app h3
{
  font-weight: 700;
  font-size: 32px;
}
.download-app p
{
  font-weight: 400;
  font-size: 18px;
  opacity: 0.7;
  max-width: 526px;
}
.wrapper-btn-download
{
  display: flex;
  max-width: 426px;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}
.wrapper-btn-download img
{
  margin-right: 8px;
}
.wrapper-btn-download .btn-title-top
{
  font-size: 11px;  
}
.wrapper-btn-download .btn-title-bottom
{
  font-size: 24px;
}
.btn-donwload
{
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(180deg, rgba(69, 64, 86, 0.765) 0%, rgba(69, 64, 86, 0.9) 100%);
  transition: 0.3s;
}

.btn-donwload:hover
{
  box-shadow: rgba(105, 104, 104, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.wrapper-btn-download-descricao
{
  display: flex;
  flex-direction: column;
  line-height: 1;
  
}