footer{
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(69, 64, 86, 0.2), rgba(69, 64, 86, 0.2)), #1F1B2D;
}

.container-footer{
    padding: 30px;
}

footer  ul{
    list-style: none;
}

footer  a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.content-footer{
    display: flex;
    justify-content: space-evenly;
}

.newsletter{
    font-size: 20px;
    color: #FFFFFF;
}

.newsletter p{
    color: #FFFFFF;
}

#aviso{
    color: #FFFFFF;
    font-size: 14px;
    opacity: 0.75;
}

form{
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.04)
}

.input{
    width: 190px;
    color: #fff;
    padding: 14px;
    background: transparent;
    border: none;
    outline: 0;
}

.button{
    background-color: #FD5631;
    width: 35px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
}

.titulo-lista{
    font-size: 16px;
    margin-left: 39px;
    color: #FFFFFF;
}

.contato{
    margin-top: 15px;
}

.phone img{
    margin-right: 10px;
}

.email img{
    margin-right: 10px;
}

.icones{
    margin-top: 35px;
}

.icones a{
    margin: 1px;
    padding: 10px;
    border-radius: 45px;
    background:linear-gradient(0deg, rgba(69, 64, 86, 0.2), rgba(69, 64, 86, 0.2)), #1f1b2d00;
}

#messeger{
    margin: 2px;
    padding: 10px;
    border-radius: 45px;
    background: white;
}

.finder{
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}

.finder h2{
    color: #fff;
}

.localizacao{
    display: flex;
    margin-left: 50%;
}

.localizacao h3{
    margin-left: 20px;
    font-size: 12px;
}

.termos{
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-size: 12px;
    opacity: 0.75;

}

.termos div{
    display: flex;
    margin-left: 24%;
}

.termos div p{
    margin-left: 20px;
    opacity: 0.75;
}

#circulo{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fd5631;
    display: flex;
    margin-left: 30px;
}

#circulo h2{
    margin-left: 14px;
    margin-top: 5px;
}

#img-logo {
    margin-top: 8px;
    margin-left: 7px;
}

.phone{
    color: white !important;
}

#img-logo {
    width: 22px;
}

#finder{
    height: 20px;
    margin-left: 10px;
    margin-top: 7px;
}