#menuPublish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#botoesPublish {
  display: flex;
  align-items: center;
}
#novoPublish,
#usadoPublish {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 8px 16px;
  margin: 12px;
  gap: 10px;

  width: 67px;
  height: 37px;

  background: rgba(255, 255, 255, 0.04);
  color: var(--white);
  border-radius: 8px;
  border: none;
}
#novoPublish:hover,
#usadoPublish:hover {
  background: var(--white);
  color: var(--primary);
  box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2),
    0px 8px 16px rgba(31, 27, 45, 0.16);
  border-radius: 8px;
}
#tituloPublish {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
/* ---- ----- ----- Container Titulo e Controles ----- ----- ----- */
.container-titulo-controles .indicadores button {
  background: var(--white);
  width: 16px;
  height: 6px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  opacity: 0.4;
  border-radius: 40px;
}
.indicadores {
  display: flex;
  justify-content: center;
}
.container-titulo-controles .indicadores button:hover,
.container-titulo-controles .indicadores button.activo {
  width: 32px;
  opacity: var(--white);
}
/* ---- ----- ----- Container Principal y Flechas ----- ----- ----- */
.cars-recomendadas {
  margin-bottom: 70px;
}
.cars-recomendadas .container-principal {
  display: flex;
  align-items: center;
  position: relative;
}
.cars-recomendadas .container-principal .seta-esquerda,
.cars-recomendadas .container-principal .seta-direita {
  display: flex;
  position: absolute;
  border: none;
  border-radius: 100%;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--gray-900);
  align-items: center;
  top: 50%;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}
.cars-recomendadas .container-principal .seta-esquerda:hover,
.cars-recomendadas .container-principal .seta-direita:hover {
  background: rgba(0, 0, 0, 0.9);
}
.cars-recomendadas .container-principal .seta-esquerda {
  left: 0;
}
.cars-recomendadas .container-principal .seta-direita {
  right: 0;
}
/* ---- ----- ----- Carousel ----- ----- ----- */
.cars-recomendadas .container-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel {
  overflow: initial;
  min-height: 0px;
  padding: 2.2%;
}
.cars-recomendadas .container-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}
.cars-recomendadas .container-carousel .carousel .cardPublish {
  min-width: 30%;
  transition: 0.3s ease all;
}
.cars-recomendadas .container-carousel .carousel .cardPublish:hover {
  transform: scale(1.1);
  transform-origin: center;
}
.cars-recomendadas .container-carousel .carousel {
  width: 100%;
  vertical-align: top;
}
.cardPublish {
  margin: 15px;
  width: 416px;
  height: 480px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.cardPublish img {
  display: flex;
  width: 100%;
  height: 241px;
  border-radius: 12px 12px 0px 0px;
}
.images-card {
  overflow: hidden;
  position: relative;
  max-width: 600px;
}
.images-card .carousel__item {
  display: none;
}
.images-card .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.images-card .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}
.botoes-image {
  display: flex;
  width: 100%;
  margin-top: -120px;
  margin-bottom: 77px;
  justify-content: space-between;
}
.carousel__button--prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 2;
}
.carousel__button--next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
}
.carousel__button--next:hover,
.carousel__button--prev:hover {
  background: var(--gray-600);
}
#imgMazda {
  position: relative;
  z-index: 0;
}
.topo_image {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.favoritos img {
  background: var(--white);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  margin-top: -210px;
  margin-bottom: 160px;
  margin-right: 5px;
  padding: 10px;
  z-index: 2;
}
#bordaNovo {
  position: relative;
  padding: 1px 10px 2px;
  width: 55px;
  height: 24px;
  background: var(--warning);
  border-radius: 6px;
  z-index: 2;
  margin-top: -210px;
  margin-bottom: 180px;
  margin-left: 1vw;
}
#bordaUsado {
  position: relative;
  padding: 1px 10px 2px;
  width: 55px;
  height: 24px;
  background: var(--info);
  border-radius: 6px;
  z-index: 2;
  margin-top: -210px;
  margin-bottom: 180px;
  margin-left: 1vw;
}
#tituloNovo,
#tituloUsado {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 35px;
  height: 21px;
  margin: 3px 10px;
}
#anoModelo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
#data {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
#checkboxCard {
  display: flex;
  align-items: center;
}
#tituloCheckbox {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white);
}
#tituloCardCarro {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-left: 20px;
  margin-top: -10px;
}
#precoCard {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-left: 20px;
  margin-top: -20px;

  color: var(--primary);
}
#local {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
#local img {
  width: 13.5px;
  height: 15.36px;
}
#local p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-left: 5px;
}
#linhaVertical {
  height: 0px;
  left: 20px;
  right: 20px;
  bottom: 98px;
  margin: 0px 20px;

  opacity: 0.15;
  border: 1px solid var(--white);
}
#botoesCardsCarrossel {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
#containerKilometragem,
#containerCambio,
#containerCombustivel {
  display: flex;
  flex-direction: column;
  width: 117px;
  height: 62px;
  background: var(--gray-900);
  opacity: 0.5;
  border-radius: 8px;

  justify-content: center;
  align-items: center;
  border: none;
}
#containerKilometragem img,
#containerCambio img,
#containerCombustivel img {
  width: 20px;
  height: 18.05px;
  margin-top: 15px;
}
#containerKilometragem,
#containerCambio,
#containerCombustivel {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--white);
}
#indicadores {
  display: flex;
  align-items: center;
  justify-content: center;
}
#indicadorImg {
  margin: 5px;
  width: 16px;
  height: 6px;

  background: #ffffff;
  opacity: 0.4;
  border-radius: 40px;
}
