.menuBotoes {
  margin-left: 7vw;
}
#botaoNovo {
  padding: 8px 16px;
  width: 72px;
  height: 40px;
  margin-right: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2),
    0px 8px 16px rgba(31, 27, 45, 0.16);
  border-radius: 8px;
  border: none;
  cursor: pointer;

  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #fd5631;
}
#botaoUsado {
  padding: 8px 16px;
  gap: 10px;

  width: 80px;
  height: 40px;

  background: rgba(255, 255, 255, 0.04);
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.menuSelecao {
  display: flex;
  align-items: center;
  width: 88%;
  height: 68px;
  margin-left: 7vw;
  margin-top: 4vh;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}
#inputPesquisar {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 1vw;
}
#lupaPesquisar {
  margin-right: 10px;
}
#pesquisar {
  width: 125px;
  height: 24px;
  margin-left: 1vw;
  margin-right: 7vw;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  border: none;
  color: #ffffff;
}
#imagemEstrela,
#modeloCarro,
#tipoCarro,
#local {
  margin-left: 2vw;
  margin-right: 1vw;
}
#selectMarca,
#selectModelo,
#selectTipo,
#selectLocal {
  width: 87px;
  height: 24px;
  margin-right: 10px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: rgba(255, 255, 255, 0.04);

  align-items: center;
  color: #ffffff;
  border: none;
  opacity: 0.5;
}
#botaoPesquisar {
  padding: 14px 32px;
  gap: 10px;
  width: 78px;
  height: 24px;

  font-family: "Noto Sans";
  font-style: normal;
  align-items: center;
  font-weight: 700;
  font-size: 16px;

  width: 142px;
  height: 52px;

  background: #fd5631;
  color: #ffffff;
  border-radius: 8px;
}
