.menuBotoes {
  display: flex;
  flex-direction: column;
  padding: 0% 14%;
  width: 100%;
}
#botaoNovo {
  padding: 8px 16px;
  width: 72px;
  height: 40px;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.04);
  color: #ffffff;

  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#botaoNovo:hover,
#botaoUsado:hover {
  background: #ffffff;
  color: #fd5631;
  box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2),
    0px 8px 16px rgba(31, 27, 45, 0.16);
}
#botaoUsado {
  padding: 8px 16px;
  gap: 10px;
  width: 80px;
  height: 40px;

  background: rgba(255, 255, 255, 0.04);
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  text-align: center;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.menuSelecao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 68px;
  margin-top: 4vh;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
}
#inputPesquisar {
  display: flex;
  justify-items: center;
  align-items: center;
}
#pesquisar {
  width: 125px;
  height: 24px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 9px;

  align-items: center;
  background: transparent;
  border: none;
  color: #ffffff;
}

#selectMarca,
#selectModelo,
#selectTipo,
#selectLocal {
  width: 87px;
  height: 24px;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: transparent;

  align-items: center;
  color: #ffffff;
  border: none;
  opacity: 0.5;
}

#botaoPesquisar {
  padding: 14px 32px;
  font-family: "Noto Sans";
  font-style: normal;
  align-items: center;
  font-weight: 700;
  font-size: 16px;

  width: 142px;
  height: 52px;

  border: none;
  background: #fd5631;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .menuBotoes {
    padding: 0px 6%;
  }
}
@media screen and (min-width: 1366px) {
  .menuBotoes {
    padding: 0px 12%;
  }
}
