.conteudo-navbar {
  display: flex;
/*   position: absolute; */
  width: 100%;
  padding: 22px 0px;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
#conteudo-logo {
  display: flex;
  align-items: center;
}
#circulo-vermelho {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #fd5631;
}
#img-logo {
  margin-top: 8px;
  margin-left: 7px;
}
#titulo {
  color: #ffffff;
  margin-left: 10px;
}
.menu {
  display: flex;
  margin-right: 88px;
}
.menu li {
  padding-right: 32px;
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
}
#botao-entrar {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
#botao-vender {
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  margin-left: 32px;

  width: 110px;
  height: 36px;

  color: #ffffff;
  background: #fd5631;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
