* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
      height: auto;
}

:root {
     --title-color: #f10;
    --text-color: #f10;
    --body-color: #f10;

    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
}

.button {
}

.button:hover {
    background: #f10;
}
